.input-wrapper {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto;
  margin-top: 4rem;
}

.input-wrapper h1 {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--white);
}

h2 {
  font-size: 1.3rem;
  font-weight: 400;
}

p.clickable {
  margin: 0;
  font-weight: 400;
  font-size: 0.95rem;
}

p.clickable:hover {
  font-weight: 600;
  cursor: pointer;
}

.podcasts-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  gap: 1.5rem;
}

.podcast-page {
  padding-bottom: 100px;
}

.bannerImage-wrapper {
  background: linear-gradient(
    180deg,
    rgba(58, 129, 191, 0.3) 1.63%,
    rgba(65, 48, 90, 0.009) 148.18%
  );
  border-radius: 1rem;
  padding: 1%;
  width: 98%;
}

.bannerImage-wrapper img {
  height: 300px;
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.podcast-title {
  width: 100%;
  text-align: left;
}

.podcast-description {
  color: var(--purple-grey);
  text-align: left;
  margin-top: 0;
}
