.custom-audio-player {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: rgba(255, 255, 0, 0.9);
  background: linear-gradient(
    45deg,
    rgba(104, 212, 241, 0.8),
    rgba(40, 6, 60, 0.8)
  );
}

.display-image-player {
  height: 40px;
  width: 40px;
  border: 2px solid rgba(255, 255, 0, 0.9);
  border-radius: 5px;
  object-fit: cover;
  align-self: center;
}

.duration-range {
  filter: hue-rotate(25deg);
  width: 100%;
}

.duration-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  width: 50%;
}

.volume-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  width: 20%;
}

.volume-range {
  filter: hue-rotate(25deg);
  width: 100%;
}

.audio-btn {
  cursor: pointer;
}

